/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
div.container {
	max-width: 876px;
	margin: 0 auto;
}

header {
	padding: 10px 0px 20px 0;
	display: inline-block;
	width: 876px;
	background-color: gray;
	position: fixed;
}
header nav a {
	color: lightgrey;
	margin: 20px 55px 20px 4px;
	text-decoration: none;
}
.logo {
	/* display: inline-block; */
	margin: 0px 0px 0px 10px;
	text-align: right;
}

.jumbotron {
	padding-top: 68px;
	margin: 0 auto;
}
.jumbotron img{
	display: inline-block;
}

.jumbotron .heading {
	vertical-align: top;
	text-align: center;
	display: inline-block;
	padding: 100px 50px 100px 160px;
}

.heading h1 {
	font-size: 40px;
}
.get-started {
	border: 1px solid black;
	padding: 3px 10px;
	max-width: 100px;
	margin: 0 auto;
}

section.info {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	max-width: 100%;
}

.blerbs {
	display: inline-block;
	text-align: left;
	padding: 20px 0;
}

.info-top .blerbs {
	max-width: 49%;
}
.info-bottom .blerbs {
	max-width: 33%;
}


.middle-img {
	display: block;
	margin: 0 auto;
	max-width: 876px;
}

footer address {
	margin: 20px 0;
}

.contact {
	line-height: 20px;
}

.copyright {
	margin: 0 auto;
}